body{
  background-color:black;
  margin: 0;
  padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      display: flex;
       align-items: center;
  justify-content: center;
  height: 700px;

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sec{
  display: flex;
  justify-content: center;
  width: 500px;
  border-radius: 10px;
  height: 650px;
background-image: linear-gradient(lightblue, darkblue);
}
}
.head{

  display: flex;
  justify-content: center;
  margin: 30px;
  margin-bottom: 10px;
  margin-top: 50px;
 color: black;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.head img{
  width: 120px;
  height:100px;
 
}

i{
  cursor: pointer;
}


.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;
  flex-wrap: wrap;


}

.search-box input{
  margin: 20px;
  background-color: white;
    color: black;
    border-radius: 5px;
    height: 40px;
    width: 350px;
    border-color: black;
    
  

}

.search-box button{
  background-color: black;
  color:white;
  border-radius: 10px;
  height: 50px;
  width: 100px;
      border-color: white;

}

.info{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info{
  color: blanchedalmond;
  font-size:20px ;

}

#city-name{
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-weight: bolder;
  text-decoration: solid;
  margin-bottom: 15px;
}

